body{
    background-color: white;
}

.landing-container{
    background-color: lightgray;
    width: 100vw;
    position: absolute;
    top:0;
    height: 20%;
}

.text-container h1{
    float:center;
    color: lightblue;
    -webkit-text-stroke-color: navy;
    -webkit-text-stroke-width: 2px;
    margin-top: 5vh;
    font-size: 60px;
    font-weight:bold;
}

.landing-buttons {   
    margin-left: -100px;
}

.landing-buttons button{
    margin-left: 100px;
    float:center;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.landing-buttons button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255, 1);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
  }

.image-container img{
    margin-top: 10vh;
    width: 60vh;
    height: 60vh;
}

